.nav {
    margin: 0 auto;
    font-size: 15px;
    width: 900px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: rgb(136, 225, 98);
  }
  .li {
    display: inline;
    margin-left: 40px;
  }
 